attrs==21.4.0
bleach==5.0.1
boltons==21.0.0
build==0.8.0
bump2version==1.0.1
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.1.0
commonmark==0.9.1
coverage==6.4.1
coveralls==3.3.1
cryptography==37.0.2
Deprecated==1.2.13
docopt==0.6.2
docutils==0.18.1
face==20.1.1
glom==22.1.0
idna==3.3
importlib-metadata==4.12.0
iniconfig==1.1.1
keyring==23.6.0
packaging==21.3
pep517==0.12.0
pkginfo==1.8.3
pluggy==1.0.0
py==1.11.0
pycparser==2.21
Pygments==2.12.0
PyJWT==2.4.0
pyparsing==3.0.9
pytest==7.1.1
pytest-cov==3.0.0
pytz==2022.1
readme-renderer==35.0
requests==2.28.1
requests-toolbelt==0.9.1
responses==0.20.0
rfc3986==2.0.0
rich==12.4.4
six==1.16.0
tomli==2.0.1
twine==4.0.1
urllib3==1.26.9
-e git+ssh://git@github.com/Vonage/vonage-python-sdk.git@5f98d04a08d9760554065401b0493d45de8df09f#egg=vonage
webencodings==0.5.1
wrapt==1.14.1
zipp==3.8.0
