include .editorconfig
include CHANGES.md
include LICENSE.txt
include README.md
include requirements.txt
include .pyup.yml
include .bumpversion.cfg
include Makefile
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include requirements *.txt
recursive-include tests *.py
recursive-include tests *.txt
recursive-include tests *.json