pytest>=8.0.0
requests>=2.31.0
responses>=0.24.1
pydantic>=2.7.1
typing-extensions>=4.9.0
vonage-jwt>=1.1.0

-e http_client
-e messages
-e number_insight
-e number_insight_v2
-e sms
-e users
-e verify
-e verify_v2
-e voice
-e vonage
-e vonage_utils
