pytest>=8.0.0
requests>=2.31.0
responses>=0.24.1
pydantic>=2.7.1
typing-extensions>=4.9.0
pyjwt[crypto]>=1.6.4

-e jwt
-e http_client
-e account
-e application
-e messages
-e network_auth
-e network_sim_swap
-e number_insight
-e number_insight_v2
-e sms
-e users
-e verify
-e verify_v2
-e voice
-e vonage_utils
-e vonage_network
-e vonage
