name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python: ["3.4", "3.5", "3.6", "3.7", "3.8"]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        exclude:
          - os: "windows-latest"
            python: "3.4"
          - os: "windows-latest"
            python: "3.8"
          - os: "macos-latest"
            python: "3.4"
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Clone repo
        uses: actions/checkout@v2
      - name: Install dependencies
        run: make install
      - name: Run tests
        run: make coverage
      - name: Coveralls
        run: coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      - name: Python Linter
        uses: sunnysid3up/python-linter@v0.1-beta.7
        with:
          strict: medium
          pylint-options: true
          black-options: true
          mypy-options: false
          isort-options: false
          django: false
