name: Mutation Test
on: push

jobs:
  mutation:
    name: run mutation test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10"]

    continue-on-error: true

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        python -m pip install mutmut
    - name: Run mutation test
      run: |
        mutmut run --no-progress || \
        if [ $? -eq 1 ]; then exit 1; fi
    - name: Save HTML output
      run: |
        mutmut html
    - uses: actions/upload-artifact@v3
      with:
        name: mutation-test-report
        path: html/
